html, body{
	background-color: #4d5359;
	height: 100%;
	font-family: 'Roboto Condensed', sans-serif;
}

#main-container .container-fluid{
	height: 100%;
}

#main-container .container-box{
	height: 500px;
}

#main-container .container-box.well{
	box-shadow: 2px 2px 21px -5px rgba(0,0,0,0.61);
}

.container-box .well, .container-box .well div{
	height: 100%;
}

#main-container .well{
	background-color: #757575;
}

#main-container .row{
	display: inline;
	height: 30%;
}

.axis line,
.axis path {
  shape-rendering: crispEdges;
  fill: transparent;
  stroke: #fff;
}

.bar.left {
  fill: #0083A8;
}
.bar.right {
  fill: #ED254E;
}

#shiny_map { height: 100%; }

#shiny_agegender { height: 100%; }

#shiny_agegender .axis text{
	fill: white;
	font-size: 16px;
	font-weight: bold;
	font-family: 'Roboto Condensed', sans-serif;
}

#shiny_field{
	height: 100%;
}

.treemapText, .treemapValue{
	fill: white;
	font-size: 34px;
}

.treemapValue{
	font-size: 62px;
	font-weight: bold;
}